{form searchForm, class=>'ui form'}

	<div class="fields">
		<div class="ten wide field required">
			{label number /}
			{input number}
		</div>
		<div class="three wide field">
				{label type /}
				{input type}
		</div>
		<div class="three wide field">
				{label year /}
				{input year}
		</div>
	</div>

	{input save, class => "ui button"}

{/form}
